.w-text-xs {
  font-size: 12px;
  line-height: 16px;
}

.w-text-sm {
  font-size: 14px;
  line-height: 20px;
}

.w-text-base {
  font-size: 16px;
  line-height: 24px;
}

.w-text-2xl {
    font-size: 24px;
    line-height: 32px;
}

.w-text-color--cream {
  color: var(--cream);
}

.w-text-color--muted {
  color: var(--muted);
}

.w-text-color--accent {
  color: var(--accent);
}

.w-text-fraunces {
  font-family: 'Fraunces', serif;
}

@for $i from 1 through 9 {
  $val: $i * 100;

  .w-fweight-#{$val} {
    font-weight: #{$val};
  }
}