.w-flex {
  display: flex;
}

.w-align-center {
  align-items: center;
}

@for $i from 0 through 50 {
  .w-m-#{$i * 2} {
    margin: #{$i * 2}px;
  }

  .w-mr-#{$i * 2} {
    margin-right: #{$i * 2}px;
  }
}